<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricemarch.cms.pms.mapper.MakeWorkBookProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ricemarch.cms.pms.entity.MakeWorkBookProcess">
        <id column="id" property="id" />
        <result column="work_book_id" property="workBookId" />
        <result column="process_no" property="processNo" />
        <result column="explanation" property="explanation" />
        <result column="minutes" property="minutes" />
        <result column="seconds" property="seconds" />
        <result column="MainSteps" property="mainsteps" />
        <result column="focus" property="focus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, work_book_id, process_no, explanation, minutes, seconds, MainSteps, focus
    </sql>

</mapper>
