<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricemarch.cms.pms.mapper.MakeWorkBookSeqMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ricemarch.cms.pms.entity.MakeWorkBookSeq">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name
    </sql>
    <select id="getByName" resultType="com.ricemarch.cms.pms.entity.MakeWorkBookSeq">
        select *
        from make_work_book_seq
        where name = #{sequenceName}
          and code = #{partName}
    </select>
    <select id="getInitSeqByPartCode" resultType="com.ricemarch.cms.pms.entity.MakeWorkBookSeq">
        select distinct mws.*
        from make_work_book_seq mws
                 left join warehouse_part wp on mws.code = wp.name
        where value = 1
          and wp.code = #{code}
    </select>
    <select id="getPartWithMakeInfo" resultType="com.ricemarch.cms.pms.controller.PartSeqDto">
        -- 用于查找所有零件种类
        select distinct warehouse_part.name, make_work_book_seq.code
        from warehouse_part
                 left join make_work_book_seq on warehouse_part.name = make_work_book_seq.code

    </select>
    <select id="getStepsByName" resultType="com.ricemarch.cms.pms.entity.MakeWorkBookSeq">

        select id, code, name, value
        from make_work_book_seq
        where code = #{name}
        order by value

    </select>
    <select id="getSeqBookDtos" resultType="com.ricemarch.cms.pms.dto.make.SeqBookDto">
        select make_work_book_seq.id as seqId,
               code                  as partName,
               name                  as seqCode,
               value,
               mwb.work_name         as workName,
               mwb.work_no           as workNo
        from make_work_book_seq
                 left join make_work_book mwb on make_work_book_seq.id = mwb.work_sequence_id
        where code = #{name}
        order by value
    </select>


</mapper>
