<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricemarch.cms.pms.mapper.WarehouseSupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ricemarch.cms.pms.entity.WarehouseSupplier">
        <id column="id" property="id"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="supplier_contact" property="supplierContact"/>
        <result column="supplier_phone" property="supplierPhone"/>
        <result column="supplier_type" property="supplierType"/>
        <result column="supplier_status" property="supplierStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, supplier_name, supplier_contact, supplier_phone, supplier_type, supplier_status
    </sql>
    <select id="getSupplierList" resultType="com.ricemarch.cms.pms.entity.WarehouseSupplier">
        -- 查询备件表中所有的供应商
        select id, supplier_name, supplier_contact, supplier_phone, supplier_type, supplier_status
        from warehouse_supplier ws
        where ws.id in (
            select distinct wp.supplier_id
            from warehouse_part wp)
    </select>
    <select id="getAllList" resultType="com.ricemarch.cms.pms.dto.wms.SupplierOverviewDto">
        select supplier_name as supplierName, id as supplierId, 0 as totalTypeNum, 0 as totalNum
        from warehouse_supplier
        ORDER BY id
    </select>

    <select id="getSpacePartTotalTypeNumList" resultType="com.ricemarch.cms.pms.dto.wms.CargoNumDto">
        select supplier_id as supplierId, count(distinct name) as num
        from warehouse_space_part
        group by supplier_id
    </select>

    <select id="getPartTotalNumList" resultType="com.ricemarch.cms.pms.dto.wms.CargoNumDto">
        select supplier_id as supplierId, count(1) as num
        from warehouse_part
        group by supplier_id;

    </select>
    <select id="getSpacePartTotalNumList" resultType="com.ricemarch.cms.pms.dto.wms.CargoNumDto">
        select supplier_id as supplierId, count(1) as num
        from warehouse_space_part
        group by supplier_id
    </select>
    <select id="getPartTotalTypeNumList" resultType="com.ricemarch.cms.pms.dto.wms.CargoNumDto">
        select supplier_id as supplierId, count(distinct name) as num
        from warehouse_part
        group by supplier_id;
    </select>
    <select id="getAll" resultType="com.ricemarch.cms.pms.entity.WarehouseSupplier">
        select id, supplier_name, supplier_contact, supplier_phone, supplier_type, supplier_status
        from warehouse_supplier
    </select>

</mapper>
