<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricemarch.cms.pms.mapper.WarehousePartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ricemarch.cms.pms.entity.WarehousePart">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="typeCode" property="typeCode"/>
        <result column="work_id" property="workId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="status" property="status"/>
        <result column="in_time" property="inTime"/>
        <result column="out_time" property="outTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="create_name" property="createName"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_name" property="updateName"/>
        <result column="inboud_id" property="inboudId"/>
        <result column="outboud_id" property="outboudId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, typeCode, work_id, supplier_id, warehouse_id, status, in_time, out_time, is_delete, create_time, update_time, create_by, create_name, update_by, update_name, inboud_id, outboud_id
    </sql>
    <select id="getTypeListBySpId" resultType="java.lang.String">
        select name
        from warehouse_part
        where outboud_id is null
          and supplier_id = #{spId}
        group by name
    </select>
    <select id="getTypeListByOnlySpId" resultType="com.ricemarch.cms.pms.dto.wms.PartCargoDto">
        select name, supplier_name, supplier_id, '0' as cargoTypeId, '零件' as cargoTypeName
        from warehouse_space_part
                 left join warehouse_supplier ws on warehouse_space_part.supplier_id = ws.id
        where warehouse_space_part.outbound_id is null
          and supplier_id = #{spId}
        group by name, supplier_id, code, supplier_name
    </select>
    <select id="getCargoDetailByPartName" resultType="com.ricemarch.cms.pms.dto.wms.PartCargoDetailDto">
        select wsp.*, ws.supplier_name
        from warehouse_space_part wsp
                 left join warehouse_supplier ws on ws.id = wsp.supplier_id
        where name like concat('%', #{partName}, '%')
    </select>
    <select id="getByCodeListAndNoOut" resultType="java.lang.Integer">
        select count(*)
        from warehouse_part wp
        where wp.outboud_id is null and wp.code in
        <foreach collection="cargoCodeList" item="cargoCode" open="(" close=")" separator=",">
            #{cargoCode}
        </foreach>
    </select>
    <select id="getByName" resultType="com.ricemarch.cms.pms.entity.WarehousePart">
        select *
        from warehouse_part
        where name = #{partName}
        limit 1
    </select>
    <select id="getAllType" resultType="java.lang.String">
        select distinct name
        from warehouse_part
    </select>

</mapper>
