<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricemarch.cms.pms.mapper.WarehouseOutboundDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ricemarch.cms.pms.entity.WarehouseOutboundDetail">
        <id column="id" property="id" />
        <result column="warehouse_outbound_id" property="warehouseOutboundId" />
        <result column="cargo_name" property="cargoName" />
        <result column="cargo_supplier_id" property="cargoSupplierId" />
        <result column="cargo_type" property="cargoType" />
        <result column="cargo_code" property="cargoCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, warehouse_outbound_id, cargo_name, cargo_supplier_id, cargo_type, cargo_code
    </sql>


</mapper>
